<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ServiceWatcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ServiceWatcher.Properties.Settings>
            <setting name="RefleshTime" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="OperationTimeout" serializeAs="String">
                <value>180000</value>
            </setting>
            <setting name="TargetServiceNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ARISReceiveHospitalService</string>
                        <string>ARISReceiveOrderService</string>
                        <string>ARISSendCostService</string>
                        <string>ARISSendPatientService</string>
                        <string>ARISSendReceiptService</string>
                        <string>ReportInterfaceService</string>
                    </ArrayOfString>
                </value>
            </setting>
        </ServiceWatcher.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
