<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      <section name="requestAdditionSection" type="ARISSend.Config.RequestAdditionHandler, ARISSendCost"/>
  </configSections>
  <connectionStrings>
    <add name="ARISSend.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=OHG_REPORT;PASSWORD=RRIS_SHIFT1;PERSIST SECURITY INFO=True;STATEMENT CACHE SIZE=100;USER ID=RRIS_SHIFT"
      providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
  <appSettings>
    <!-- サービススレッド停止タイムアウト(ms) -->
    <add key="ThreadStopTimeout" value="200000"/>
    <!-- クライアント停止タイムアウト(ms) -->
    <add key="ClientCloseTimeout" value="90000"/>
    <!-- SQLコマンドタイムアウト(s) -->
    <add key="CommandTimeout" value="30"/>
    <!-- TOHISINFOループ休眠時間(ms) -->
    <add key="ThreadSleepTime" value="1000"/>
    <!-- 送信リトライ回数 -->
    <add key="SendRetryCount" value="3"/>
    <!-- 送信リトライ時休眠時間(ms) -->
    <add key="SendRetrySleep" value="10000"/>
    <!-- 受付ホスト名 -->
    <add key="ReceiptHost" value="127.0.0.1"/>
    <!-- 受付ソケット通信ポートNo -->
    <add key="ReceiptPort" value="16030"/>
    <!-- 受付ソケット通信接続タイムアウト(ms) -->
    <add key="ReceiptConnectionTimeout" value="10000"/>
    <!-- 受付ソケット通信送信タイムアウト(ms) -->
    <add key="ReceiptSendTimeout" value="30000"/>
    <!-- 受付ソケット通信受信タイムアウト(ms) -->
    <add key="ReceiptReceiveTimeout" value="30000"/>
    <!-- 実施ホスト名 -->
    <add key="ExamHost" value="127.0.0.1"/>
    <!-- 実施ソケット通信ポートNo -->
    <add key="ExamPort" value="16031"/>
    <!-- 実施ソケット通信接続タイムアウト(ms) -->
    <add key="ExamConnectionTimeout" value="10000"/>
    <!-- 実施ソケット通信送信タイムアウト(ms) -->
    <add key="ExamSendTimeout" value="30000"/>
    <!-- 実施ソケット通信受信タイムアウト(ms) -->
    <add key="ExamReceiveTimeout" value="30000"/>
    <!-- 患者要求ホスト名 -->
    <add key="PatientHost" value="127.0.0.1"/>
    <!-- 患者要求ソケット通信ポートNo -->
    <add key="PatientPort" value="16032"/>
    <!-- 患者要求ソケット通信接続タイムアウト(ms) -->
    <add key="PatientConnectionTimeout" value="10000"/>
    <!-- 患者要求ソケット通信送信タイムアウト(ms) -->
    <add key="PatientSendTimeout" value="30000"/>
    <!-- 患者要求ソケット通信受信タイムアウト(ms) -->
    <add key="PatientReceiveTimeout" value="30000"/>
    <!-- 造影剤の実績造影剤テーブル.機材区分ID -->
    <add key="ExZoueizaiTableBunruiZoeizai" value="1"/>
    <!-- 薬剤の実績造影剤テーブル.機材区分ID -->
    <add key="ExZoueizaiTableBunruiYakuzai" value="2"/>
    <!-- 材料の実績造影剤テーブル.機材区分ID -->
    <add key="ExZoueizaiTableBunruiZairyo" value="3"/>
    <!-- 手技の実績注射手技テーブル.機材区分ID -->
    <add key="ExInfuseTableBunruiShugi" value="4"/>
    <!-- 加算の実績注射手技テーブル.機材区分ID -->
    <!-- 未使用のため無効な機材区分IDを設定 -->
    <add key="ExInfuseTableBunruiKasan" value="9999"/>
    <!-- メッセージログ出力ルートディレクトリ -->
    <add key="MessageLogRootDir" value=".\ARISSend\Log\MessageSend"/>
    <!-- メッセージログエンコード -->
    <add key="MessageLogEncode" value="Shift_JIS"/>
    <!-- メッセージログ出力ディレクトリフォーマット -->
    <add key="MessageLogWriteDirDateFormat" value="yyyyMMdd"/>
    <!-- log4netファイル日付部分フォーマット log4net.configのRollingLogFileAppenderの出力ファイル名を修正した場合は合わせて修正する -->
    <add key="log4netFileDateFormat" value="yyyyMMdd"/>
    <!-- log4netファイル正規表現パターン TargetGroupは日付部分を指すので必須。log4net.configのRollingLogFileAppenderの出力ファイル名を修正した場合は合わせて修正する -->
    <add key="log4netFileRegex" value="^ARISSendCost\.(?&lt;TargetGroup&gt;\d{8})\.log(\.[0-9]*)?$"/>
    <!-- 過去ログファイルの保存期間(日数) -->
    <add key="LogStoreTerm" value="30"/>
    <!-- 2018.05.14 Add Start HIS-RIS通信AP性能改善 -->
    <!-- 対象処理種別(in句) ※シングルコーテーション必須 -->
    <add key="InRequestType" value="'OP01','OP02','OP99'"/>
    <!-- 2018.05.14 Add End   HIS-RIS通信AP性能改善 -->
  </appSettings>
  <requestAdditionSection>
    <!-- 放射線科情報 -->
    <radiologySection>
      <radiologyItem commentID="7UCA01"/>
      <radiologyItem commentID="7UMA01"/>
      <radiologyItem commentID="7UPA01"/>
      <radiologyItem commentID="7URA01"/>
      <radiologyItem commentID="7UZA01"/>
    </radiologySection>
    <!-- 画像診断加算の手技/加算情報 -->
    <radiologyInfuseSection>
      <radiologyInfuseItem infuseID="JJ0260"/>
      <radiologyInfuseItem infuseID="JJ0410"/>
      <radiologyInfuseItem infuseID="JJ0415"/>
      <radiologyInfuseItem infuseID="JJ0420"/>
    </radiologyInfuseSection>
  </requestAdditionSection>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
</startup>
  <!-- ********** ★★★★★重要★★★★★ ****************************** -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89B483F429C47342"/>
        <!-- Oracle.DataAccessバージョン設定 -->
        <!-- newVersionには、現地環境のOracle.DataAccessバージョンを設定して下さい。 -->
        <!-- [Oracle.DataAccessバージョン確認方法] -->
        <!-- Oracleインストールディレクトリ\ODP.NET\bin\4にOracle.DataAccess.dllファイルが存在するので -->
        <!-- 右クリック → プロパティ → 詳細 → ファイルバージョン で確認して下さい。 -->
        <bindingRedirect oldVersion="4.121.2.0" newVersion="4.121.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
