<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ARISReceive.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=OHG_REPORT;PASSWORD=RRIS_SHIFT1;PERSIST SECURITY INFO=True;STATEMENT CACHE SIZE=100;USER ID=RRIS_SHIFT" providerName="Oracle.DataAccess.Client"/>
  </connectionStrings>
  <appSettings>
    <!-- リスナー停止タイムアウト(ms) -->
    <add key="ListenerThreadStopTimeout" value="200000"/>
    <!-- クライアント停止タイムアウト(ms) -->
    <add key="ClientCloseTimeout" value="90000"/>
    <!-- SQLコマンドタイムアウト(s) -->
    <add key="CommandTimeout" value="30"/>
    <!-- ソケット通信ポートNo -->
    <add key="Port" value="30049"/>
    <!-- ソケット通信送信タイムアウト(ms) -->
    <add key="SendTimeout" value="30000"/>
    <!-- ソケット通信受信タイムアウト(ms) -->
    <add key="ReceiveTimeout" value="0"/>
    <!-- メッセージログエンコード -->
    <add key="MessageLogEncode" value="Shift_JIS"/>
    <!-- メッセージログ出力ルートディレクトリ -->
    <add key="MessageLogRootDir" value=".\ARISReceiveHospital\Log\MessageRecv"/>
    <!-- メッセージログ出力ディレクトリフォーマット -->
    <add key="MessageLogWriteDirDateFormat" value="yyyyMMdd"/>
    <!-- log4netファイル日付部分フォーマット log4net.configのRollingLogFileAppenderの出力ファイル名を修正した場合は合わせて修正する -->
    <add key="log4netFileDateFormat" value="yyyyMMdd"/>
    <!-- log4netファイル正規表現パターン TargetGroupは日付部分を指すので必須。log4net.configのRollingLogFileAppenderの出力ファイル名を修正した場合は合わせて修正する -->
    <add key="log4netFileRegex" value="^ARISReceiveHospital\.(?&lt;TargetGroup&gt;\d{8})\.log(\.[0-9]*)?$"/>
    <!-- 過去ログファイルの保存期間(日数) -->
    <add key="LogStoreTerm" value="30"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <!-- ********** ★★★★★重要★★★★★ ****************************** -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89B483F429C47342"/>
        <!-- Oracle.DataAccessバージョン設定 -->
        <!-- newVersionには、現地環境のOracle.DataAccessバージョンを設定して下さい。 -->
        <!-- [Oracle.DataAccessバージョン確認方法] -->
        <!-- Oracleインストールディレクトリ\ODP.NET\bin\4にOracle.DataAccess.dllファイルが存在するので -->
        <!-- 右クリック → プロパティ → 詳細 → ファイルバージョン で確認して下さい。 -->
        <bindingRedirect oldVersion="4.121.2.0" newVersion="4.121.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
