<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StatisticsPrint.Properties.Settings.ConnectionString"
            connectionString="DATA SOURCE=RRIS;PASSWORD=RRIS_SHIFT1;PERSIST SECURITY INFO=True;STATEMENT CACHE SIZE=100;USER ID=RRIS_SHIFT"
            providerName="Oracle.DataAccess.Client" />
    </connectionStrings>
    <appSettings>
        <!-- SQLコマンドタイムアウト(s) -->
        <add key="CommandTimeout" value="180" />
        
        <!-- フォームファイル指定 -->
        <!-- 撮影検査数一覧（部位分類） -->
        <add key="FormFileBUIBUNRUI" value="..\..\Reports\STATISTICS_BUIBUNRUI.crf" />
        <!-- 撮影検査数一覧（主行為） -->
        <add key="FormFileBUI" value="..\..\Reports\STATISTICS_BUI.crf" />
        <!-- フィルム一覧 -->
        <add key="FormFileFilm" value="..\..\Reports\STATISTICS_FILM.crf" />
        <!-- 造影・薬剤一覧 -->
        <add key="FormFileZoueizai" value="..\..\Reports\STATISTICS_ZOUEIZAI.crf" />
        <!-- 救命救急センター　集計表 -->
        <add key="FormFileEmergency" value="..\..\Reports\STATISTICS_EMERGENCY.crf" />
        <!-- 一般撮影　分類別集計表 -->
        <add key="FormFileIppan" value="..\..\Reports\STATISTICS_IPPAN.crf" />
        <!-- ＣＴ　分類別集計表 -->
        <add key="FormFileCT" value="..\..\Reports\STATISTICS_CT.crf" />
        <!-- ＲＩ　分類別集計表 -->
        <add key="FormFileRI" value="..\..\Reports\STATISTICS_RI.crf" />
        <!-- 透視造影　分類別集計表 -->
        <add key="FormFileDR" value="..\..\Reports\STATISTICS_DR.crf" />
        <!-- ＵＳ　分類別集計表 -->
        <add key="FormFileUS" value="..\..\Reports\STATISTICS_US.crf" />
        <!-- 医療技術部診療検査科　月報 -->
        <add key="FormFileGeppo" value="..\..\Reports\STATISTICS_GEPPO.crf" />
        <!-- Film読込・書出/CD読込・書出 -->
        <add key="FormFileCDFilm" value="..\..\Reports\STATISTICS_CDFILM.crf" />

        <!-- プレビュー画面有無設定 0：プレビュー無し　1：プレビューあり -->
        <add key="PreviewKbn" value="1" />
        <!-- プレビュー画面表示の際に一時保存するファイルパス指定 -->
        <add key="TempDir" value=".\temp" />
    </appSettings>
</configuration>