<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      <section name="requestAdditionSection" type="ARISSend.Config.RequestAdditionHandler, ARISSendReportDokuei"/>
  </configSections>
  <connectionStrings>
    <add name="ARISSend.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=OHG_REPORT;PASSWORD=mrms1;PERSIST SECURITY INFO=True;STATEMENT CACHE SIZE=100;USER ID=mrms"
      providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
  <appSettings>
    <!-- サービススレッド停止タイムアウト(ms) -->
    <add key="ThreadStopTimeout" value="200000"/>
    <!-- クライアント停止タイムアウト(ms) -->
    <add key="ClientCloseTimeout" value="90000"/>
    <!-- SQLコマンドタイムアウト(s) -->
    <add key="CommandTimeout" value="30"/>
    <!-- ループ休眠時間(ms) -->
    <add key="ThreadSleepTime" value="1000"/>
    <!-- 送信リトライ回数 -->
    <add key="SendRetryCount" value="3"/>
    <!-- 送信リトライ時休眠時間(ms) -->
    <add key="SendRetrySleep" value="10000"/>
    <!-- 既読ホスト名 -->
    <add key="ReportDokueiHost" value="192.168.100.50"/>
    <!-- 既読ソケット通信ポートNo -->
    <add key="ReportDokueiPort" value="16030"/>
    <!-- 既読ソケット通信接続タイムアウト(ms) -->
    <add key="ReportDokueiConnectionTimeout" value="10000"/>
    <!-- 既読ソケット通信送信タイムアウト(ms) -->
    <add key="ReportDokueiSendTimeout" value="30000"/>
    <!-- 既読ソケット通信受信タイムアウト(ms) -->
    <add key="ReportDokueiReceiveTimeout" value="30000"/>
    <!-- メッセージログ出力ルートディレクトリ -->
    <add key="MessageLogRootDir" value=".\ARISSend\Log\MessageSend"/>
    <!-- メッセージログエンコード -->
    <add key="MessageLogEncode" value="Shift_JIS"/>
    <!-- メッセージログ出力ディレクトリフォーマット -->
    <add key="MessageLogWriteDirDateFormat" value="yyyyMMdd"/>
    <!-- log4netファイル日付部分フォーマット log4net.configのRollingLogFileAppenderの出力ファイル名を修正した場合は合わせて修正する -->
    <add key="log4netFileDateFormat" value="yyyyMMdd"/>
    <!-- log4netファイル正規表現パターン TargetGroupは日付部分を指すので必須。log4net.configのRollingLogFileAppenderの出力ファイル名を修正した場合は合わせて修正する -->
    <add key="log4netFileRegex" value="^ARISSendReportDokuei\.(?&lt;TargetGroup&gt;\d{8})\.log(\.[0-9]*)?$"/>
    <!-- 過去ログファイルの保存期間(日数) -->
    <add key="LogStoreTerm" value="30"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>
  <!-- ********** ★★★★★重要★★★★★ ****************************** -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89B483F429C47342"/>
        <!-- Oracle.DataAccessバージョン設定 -->
        <!-- newVersionには、現地環境のOracle.DataAccessバージョンを設定して下さい。 -->
        <!-- [Oracle.DataAccessバージョン確認方法] -->
        <!-- Oracleインストールディレクトリ\ODP.NET\bin\4にOracle.DataAccess.dllファイルが存在するので -->
        <!-- 右クリック → プロパティ → 詳細 → ファイルバージョン で確認して下さい。 -->
        <bindingRedirect oldVersion="4.121.2.0" newVersion="4.121.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
