<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <!-- SQDB接続設定 -->
      <add name="AddToHisInfoFromSQDB.Properties.Settings.ConnectionStringSQ"
            connectionString="DATA SOURCE=ARQS;PASSWORD=ARQS_USER;PERSIST SECURITY INFO=True;STATEMENT CACHE SIZE=100;USER ID=ARQS"
            providerName="Oracle.DataAccess.Client" />
      <!-- RISDB接続設定 -->
      <add name="AddToHisInfoFromSQDB.Properties.Settings.ConnectionStringRIS"
            connectionString="DATA SOURCE=RRIS;PASSWORD=RRIS_SHIFT1;PERSIST SECURITY INFO=True;STATEMENT CACHE SIZE=100;USER ID=RRIS_SHIFT"
            providerName="Oracle.DataAccess.Client" />
    </connectionStrings>
    <appSettings>
        <!-- サービススレッド停止タイムアウト(ms) -->
        <add key="ThreadStopTimeout" value="200000" />
        <!-- クライアント停止タイムアウト(ms) -->
        <add key="ClientCloseTimeout" value="90000" />
        <!-- SQLコマンドタイムアウト(s) -->
        <add key="CommandTimeout" value="30" />
        <!-- ループ休眠時間(ms) -->
        <add key="ThreadSleepTime" value="5000" />
        <!-- log4netファイル日付部分フォーマット log4net.configのRollingLogFileAppenderの出力ファイル名を修正した場合は合わせて修正する -->
        <add key="log4netFileDateFormat" value="yyyyMMdd" />
        <!-- log4netファイル正規表現パターン TargetGroupは日付部分を指すので必須。log4net.configのRollingLogFileAppenderの出力ファイル名を修正した場合は合わせて修正する -->
        <add key="log4netFileRegex" value="^AddToHisInfoFromSQDB\.(?&lt;TargetGroup&gt;\d{8})\.log(\.[0-9]*)?$" />
        <!-- 過去ログファイルの保存期間(日数) -->
        <add key="LogStoreTerm" value="30" />
        <!-- 対象とするモダリティリスト(カンマ区切り)-->
        <add key="ModalityList" value="US,RG,NM,MR,BMD,RF,PT,SC,CT,XA,OT,CR" />
    </appSettings>
</configuration>